@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: local('Berkshire Swash Regular'), local('BerkshireSwash-Regular'), url(https://fonts.gstatic.com/s/berkshireswash/v7/ptRRTi-cavZOGqCvnNJDl5m5XmN_qs42.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background: #c0c2ce;
  color: #5e0a1a;
}
nav {
  background: #c0c2ce;
  border-bottom: 1px solid black;
}
nav div.brand {
  font-family: 'Berkshire Swash', cursive;
  font-size: 3.2rem;
  margin-top: 2px;
  margin-bottom: 2px;
}
a.nav-link.button {
  padding: 10px 20px;
  margin: 0;
  color: #003dd6;
  background: #c0c2ce;
}
a.nav-link.button:hover {
  color: #c0c2ce;
  background: #bb1333;
}
@media (max-width: 508px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav div.nav {
    display: flex;
    justify-content: center;
  }
}
div.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.card-container div.card {
  background: transparent;
  border: 1px solid #ec4867;
  border-radius: 10px;
}
div.card-container div.card div.card-body p.card-title {
  font-size: 2rem;
}
div.card-container div.card div.card-body ul.list-group {
  background: #c0c2ce;
  color: #bb1333;
}
div.card-container div.card div.card-body ul.list-group li.list-group-item {
  background: #c0c2ce;
  border-top: 1px solid #878ba1;
  border-bottom: 1px solid #878ba1;
}
div.card-container div.card div.card-body a.btn.btn-primary {
  background: #1e50ee;
  border: 0 solid transparent;
  font-size: 1.2rem;
  width: 100%;
}
div#carousel {
  display: flex;
  justify-content: center;
}
div#carousel img {
  border: 1px solid black;
}
#content {
  margin: 20px 0;
}
#content header.Page-Header div.page-header-div {
  font-size: 2.8rem;
  font-family: 'Berkshire Swash', cursive;
  margin: 20px 0 0 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid;
}
address.footer {
  font-size: 1.2rem;
  border-top: 1px solid black;
}
