@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: local('Berkshire Swash Regular'), local('BerkshireSwash-Regular'), url(https://fonts.gstatic.com/s/berkshireswash/v7/ptRRTi-cavZOGqCvnNJDl5m5XmN_qs42.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
header {
  border-bottom: 1px solid black;
}
header div h2 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 3.2rem;
  margin-top: 2px;
  margin-bottom: 2px;
}
a.nav-link.button {
  padding: 10px 20px;
  margin: 0;
  color: black;
  background: white;
}
a.nav-link.button:hover {
  color: white;
  background: black;
}
div.card-container {
  display: flex;
}
div.card-container div.card {
  width: 20rem;
}
div.card-container div.card div.card-body p.card-title {
  font-size: 2rem;
}
div.card-container div.card div.card-body a.btn.btn-primary {
  background: black;
  border: 0 solid transparent;
  width: 100%;
}
