@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background: #222;
  color: #fff;
}
nav.navbar {
  display: flex;
  background: #222;
  padding: 0 !important;
  border-bottom: 2px solid #ccc;
  justify-content: normal;
}
nav.navbar div.brand {
  display: flex;
  justify-content: normal;
  font-family: 'Lato', cursive;
  padding: 1px;
  font-size: 3.2rem;
  color: #fff;
  margin-right: auto;
  margin-left: 10px;
  border-bottom: 2px solid #ccc;
  transform: translateY(2px);
}
nav.navbar div.brand span {
  color: #bb1333;
}
a.nav-link.button {
  padding: 10px 10px;
  margin: 0;
  color: #ccc;
  background: #222;
  transform: translateY(2px);
  border-bottom: 2px solid #ccc;
  font-size: 2rem;
}
a.nav-link.button:hover {
  color: white;
  border-color: white;
}
a.nav-link.button.btnactive {
  color: white;
  border-color: white;
}
a.login-btn {
  padding: 5px 10px;
  margin: 0;
  color: #08addd;
  background: #222;
  transform: translateY(2px);
  border-bottom: 2px solid #08addd;
  font-size: 2rem;
  transform: none;
  border: 1px solid #08addd;
  border-radius: 5px;
  text-decoration: none;
}
a.login-btn:hover {
  color: #ccc;
  border-color: #08addd;
}
a.login-btn:hover {
  color: #ccc;
  border-color: inherit;
  background: #08addd;
}
a.get-started-btn {
  padding: 5px 10px;
  margin: 0;
  color: #08addd;
  background: #222;
  transform: translateY(2px);
  border-bottom: 2px solid #08addd;
  font-size: 2rem;
  transform: none;
  border: 1px solid #08addd;
  border-radius: 5px;
  text-decoration: none;
}
a.get-started-btn:hover {
  color: #ccc;
  border-color: #08addd;
}
a.get-started-btn:hover {
  color: #ccc;
  border-color: inherit;
  background: #08addd;
}
@media (max-width: 768px) {
  nav.collapse {
    animation: collapse 0.5s forwards;
  }
  nav.open {
    animation: open 0.5s forwards;
  }
  nav div.nav {
    display: flex;
    justify-content: center;
  }
  @keyframes collapse {
    from {
      top: 0;
    }
    to {
      top: -63px;
    }
  }
  @keyframes open {
    from {
      top: -63px;
    }
    to {
      top: 0;
    }
  }
}
div.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.card-container div.card {
  background: transparent;
  border: 1px solid #000;
  border-radius: 10px;
}
div.card-container div.card div.card-body p.card-title {
  font-size: 2rem;
}
div.card-container div.card div.card-body ul.list-group {
  background: #222;
  color: #fff;
}
div.card-container div.card div.card-body ul.list-group li.list-group-item {
  background: #222;
  color: #fff;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
div.card-container div.card div.card-body a.btn.btn-primary {
  background: #08addd;
  border: 0 solid transparent;
  font-size: 1.2rem;
  width: 100%;
}
div#carousel {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
div#carousel img {
  border: 1px solid black;
}
#content {
  margin: 20px 0;
}
#content header.Page-Header div.page-header-div {
  font-size: 2.8rem;
  font-family: 'Lato', cursive;
  margin: 20px 0 0 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ccc;
}
#tooSmallError {
  display: none;
}
#phpErrors .phpErrorsOpen {
  display: block;
}
#phpErrors .phpErrorsClosed {
  display: none;
}
@media (max-width: 315px) {
  .container-fluid {
    display: none;
  }
  #tooSmallError {
    display: block;
    font-size: 1.6rem;
  }
  #tooSmallError h1 {
    font-size: 2.4rem;
  }
}
address.footer {
  font-size: 1.2rem;
  border-top: 1px solid black;
}
