@import url('https://fonts.googleapis.com/css?family=Lato');
* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	background: @txt01;
	color: @txt05;
}
@import 'stubs/variables.less';
@import 'stubs/mixins.less';
@import 'stubs/header.less';
@import 'stubs/content.less';
@import 'stubs/footer.less';
