div.card-container {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	margin-bottom: 20px;

	div.card {
		// width: 20rem;\
		background: transparent;
		border: 1px solid @txt00;
		border-radius: 10px;

		div.card-body {
			p.card-title {
				font-size: 2rem;
			}

			ul.list-group {
				background: @txt01;
				color: @txt05;

				li.list-group-item {
					background: @txt01;
					color: @txt05;
					border-top: 1px solid white;
					border-bottom: 1px solid white;
				}
			}

			a.btn.btn-primary {
				background: @accent1;
				border: 0 solid transparent;
				font-size: 1.2rem;
				width: 100%;
			}
		}
	}
}

div#carousel {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	img {
		border: 1px solid black;
	}
}

#content {
	margin: 20px 0;

	header.Page-Header {
		div.page-header-div {
			font-size: 2.8rem;
			// font-weight: bold;
			font-family: 'Lato', cursive;
			margin: 20px 0 0 0;
			padding: 0 0 20px 0;
			border-bottom: 1px solid @txt04;
		}
	}
}

#tooSmallError {
	display: none;
}

#phpErrors {
	.phpErrorsOpen {
		display: block;
	}
	.phpErrorsClosed {
		display: none;
	}
}

@media (max-width: 350px) {
	.container-fluid {
		display: none;
	}

	#tooSmallError {
		display: block;
		font-size: 1.6rem;
		h1 {
			font-size: 2.4rem;
		}
	}
}
