div.card-container {
    display: flex;
    
    div.card {
        width: 20rem;

        div.card-body {
            p.card-title {
                font-size: 2rem;
            }

            a.btn.btn-primary {
                background: black;
                border: 0 solid transparent;
                width: 100%;
            }
        }
    }
}