nav.navbar {
	display: flex;
	background: @txt01;
	padding: 0 !important;
	border-bottom: 2px solid @txt04;
	justify-content: normal;
	div.brand {
		display: flex;
		justify-content: normal;
		font-family: 'Lato', cursive;
		padding: 1px;
		font-size: 3.2rem;
		color: @txt05;
		margin-right: auto;
		margin-left: 10px;
		border-bottom: 2px solid @txt04;
		transform: translateY(2px);
		span {
			color: @accent0;
		}
	}
}

.btnactive {
	color: white;
	border-color: white;
}

a.nav-link.button {
	.Button(10px 10px, 0, @txt04, @txt01, white, white, 2rem);
}

@media (max-width: 768px) {
	@navBar-height: 63px;
	nav {
		display: flex;
		flex-direction: column;
		align-items: center;

		&.collapse {
			animation: collapse 0.5s forwards;
		}

		&.open {
			animation: open 0.5s forwards;
		}

		div.nav {
			display: flex;
			justify-content: center;
		}

		@keyframes collapse {
			from {
				top: 0;
			}
			to {
				top: -@navBar-height;
			}
		}

		@keyframes open {
			from {
				top: -@navBar-height;
			}
			to {
				top: 0;
			}
		}
	}
}
