//Greys
@lightGrey: lighten(@grey, 20%);
@grey: #55596d;
@darkGrey: darken(@grey, 20%);
//Teals
@lightTeal: lighten(@teal, 20%);
@teal: #08addd;
@darkTeal: darken(@teal, 20%);
//Blues
@lightBlue: lighten(@blue, 20%);
@blue: #1e50ee;
@darkBlue: darken(@blue, 20%);
//Navys
@lightNavy: lighten(@navy, 20%);
@navy: #002070;
@darkNavy: darken(@navy, 20%);
//Reds
@lightRed: lighten(@red, 20%);
@red: #bb1333;
@darkRed: darken(@red, 20%);
